
html{
	font: 13px Arial;

	
}
.container {
	width: 300px;
	
	margin: 100px auto;
	background: #fff;
	border: 2px solid #7F796C;
	border-radius:10px;
	min-height: 300px;
	box-shadow: 3px 3px 4px 0 #CCC;

}
fieldset{
    border:none;
}
legend,
.label {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}
input {
    text-align: right;
}

label {
    color: #333;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
	text-align: right;
    margin-bottom: 20px;
}

button, 
.result {
	border-radius: 5px;
}
button {
   
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 8px 25px;
    color: #333;
	font-weight: bold;
	margin: 0 auto;
	box-shadow: 3px 3px 4px 0 #CCC;
}
.content-result {
	text-align: center;
}
.content-result .result {
	width: 70px;
	background: #C1D0D9;
	display: block;
	font-size: 24px;
	color: blue;	
	padding: 12px 15px;
	margin: 0 auto;

}